








<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Accounts - Product Admin Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/public/admin/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/public/admin/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/public/admin/css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
  <body id="reportsPage">
    <%-include('header');%>
    
    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                  
                    <tr>
                      <th scope="col">&nbsp;</th>
                      <th scope="col">STT</th>
                      <th scope="col">USER NAME</th>
                      <th scope="col">TOTAL</th>
                      <th scope="col">QUANTITY</th>
                     
                      <th scope="col">&nbsp;</th>
                    </tr>
                    
                  </thead>
                  <tbody>
                    <% for (var i = 0; i < ctsanphams.length; i++) { %>
                        <% var sanpham = sanphams[i]; %>
                      
                      <tr>
                        <th scope="row"><input type="checkbox" /></th>                   
                             
                                <th scope="row"><%= i + 1 %></th>
                               
                                <td class="tm-product-name" data-product-id="<%= sanpham.TenSP %>"><%= sanpham.TenSP %></td>
                                <td><%=sanpham.Gia*ctsanphams[i].quantity %></td>
                                <td><%= ctsanphams[i].quantity %> </td>                  
                                <td>
                                  
                                  
                                  
                                </td>
                      </tr>
                      <% } %>

                   
                  </tbody>
                </table>
                
              </div>
              <!-- table container -->
              <a class="btn btn-primary btn-block text-uppercase" href="/cart-list">Back to page</a>
            </div>
          </div>
          
        </div>
      </div>
      <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
          <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2018</b> All rights reserved. 
            
            Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
          </p>
        </div>
      </footer>
    </div>

    <script src="/public/admin/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/public/admin/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
  </body>
</html>
