<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit Product - Dashboard Admin Template</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/public/admin/css/fontawesome.min.css" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="/public/admin/jquery-ui-datepicker/jquery-ui.min.css" type="text/css" />
    <!-- http://api.jqueryui.com/datepicker/ -->
    <link rel="stylesheet" href="/public/admin/css/bootstrap.min.css" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="/public/admin/css/templatemo-style.css">
    <!--
	Product Admin CSS Template
	https://templatemo.com/tm-524-product-admin
	-->
  
  </head>
  <%-include('header');%>
 
   
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Edit Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="/product/edit/<%= product._id %>" method="POST" class="tm-edit-product-form">
                  <div class="form-group mb-3">
                    <label
                      for="TenSP"
                      > Name Product
                    </label>
                    <input
                      id="TenSP"
                      name="TenSP"
                      type="text"
                      value="<%= product.TenSP %>"
                      class="form-control validate"
                    />
                  </div>
                  
                  <div class="form-group mb-3">
                    <label
                      for="category"
                      >Category</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      id="category"
                      name="LoaiSP_id"
                    >
                     
                      <option value="641883038483c54a0d84c129" <% if(product.LoaiSP_id === "641883038483c54a0d84c129") { %> selected <% } %>>Ghế</option>
                      <option value="641e554b136d486502a878b2" <% if(product.LoaiSP_id === "641e554b136d486502a878b2") { %> selected <% } %>>Bàn</option>
                      <option value="64206dbb3c9e3d4405ed6f0e" <% if(product.LoaiSP_id === "64206dbb3c9e3d4405ed6f0e") { %> selected <% } %>>Đèn</option>
                      <option value="64206e003c9e3d4405ed6f10" <% if(product.LoaiSP_id === "64206e003c9e3d4405ed6f10") { %> selected <% } %>>Quạt</option>
                      
                    </select>
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="category"
                      >Manufacturer</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      id="category"
                      name="HangSanXuat_id"
                    >
                     
                      <option value="641883728483c54a0d84c12b" <% if(product.HangSanXuat_id === "641883728483c54a0d84c12b") { %> selected <% } %>>Công ty Văn Tài</option>
                      <option value="642101c9c6b29ae2db698ff4" <% if(product.HangSanXuat_id === "642101c9c6b29ae2db698ff4") { %> selected <% } %>>Công ty Cửu Long</option>
                      <option value="642101eac6b29ae2db698ff5" <% if(product.HangSanXuat_id === "642101eac6b29ae2db698ff5") { %> selected <% } %>>Công ty Mai Phương</option>
                      <option value="642101ecc6b29ae2db698ff6" <% if(product.HangSanXuat_id === "642101ecc6b29ae2db698ff6") { %> selected <% } %>>Công ty Thiên Xanh</option>
                      
                    </select>
                  </div>
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      > Describe
                    </label>
                    <input
                      id="name"
                      name="Mota"
                      type="text"
                      value="<%= product.Mota %>"
                      class="form-control validate"
                    />
                  </div> 
                  
                  
                  <div class="form-group mb-3">
                    <label
                      for="name"
                      > Quantity
                    </label>
                    <input
                      id="name"
                      name="soluong"
                      type="text"
                      value="<%= product.soluong %>"
                      class="form-control validate"
                    />
                  </div> <div class="form-group mb-3">
                    <label
                      for="name"
                      > Price
                    </label>
                    <input
                      id="name"
                      name="Gia"
                      type="text"
                      value="<%= product.Gia %>"
                      class="form-control validate"
                    />
                  </div> 
                  
                  <div class="form-group mb-3">
                    <label for="avatar">Image</label>
                    <input type="file" id="avatar" name="hinhanh"  value="<%= product.hinhanh %>" class="form-control-file" required>
                    
                  </div>
                  <div class="form-group mb-3">
                    <label for="avatar">Image</label>
                    <input type="file" id="avatar" name="hinhanh2"  value="<%= product.hinhanh %>" class="form-control-file" required>
                    
                  </div>
                  <div class="form-group mb-3">
                    <label for="avatar">Image</label>
                    <input type="file" id="avatar" name="hinhanh3"  value="<%= product.hinhanh %>" class="form-control-file" required>
                    
                  </div>
                  <div class="form-group mb-3">
                    <label for="avatar">Image 3D</label>
                    <input type="file" id="avatar" name="hinhanh3D"  value="<%= product.hinhanh3D %>" class="form-control-file" required>
                    
                  </div>
              </div>
             
           
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Now</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
          <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2018</b> All rights reserved. 
            
            Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
        </p>
        </div>
    </footer> 

    <script src="/public/admin/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/public/admin/jquery-ui-datepicker/jquery-ui.min.js"></script>
    <!-- https://jqueryui.com/download/ -->
    <script src="/public/admin/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $("#expire_date").datepicker({
          defaultDate: "10/22/2020"
        });
      });
    </script>
  
</html>
